.shadow-bump, .el_btn, .navbar-toggler, .bl_card {
  box-shadow: 5px 5px 9px #c9c9c9,  -5px -5px 9px #ffffff;
}

.shadow-dent, .el_btn.el_btn-hover:focus, .el_btn.el_btn-hover:hover, .navbar-toggler:focus, .navbar-toggler:hover {
  box-shadow: inset 5px 5px 9px #c9c9c9,  inset -5px -5px 9px #ffffff;
}

.shadow-border {
  box-shadow: 5px 5px 9px #c9c9c9, -5px -5px 9px #ffffff, inset 5px 5px 9px #c9c9c9,inset -5px -5px 9px #ffffff;
}

.el_btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 20px 10px;
  border: 2px solid transparent;
  font-size: 1.125rem;
  text-align: center;
  transition: .25s;
  border-radius: calc(200px/20);
  background: #efefef;
}

@media (max-width: 768px) {
  .el_btn {
    display: block;
    width: 100%;
  }
}

nav .el_btn {
  width: 100px;
  padding: 5px 5px;
}

@media (max-width: 768px) {
  nav .el_btn {
    width: 100%;
  }
}

.el_jumbotron {
  margin: 50px 0 40px;
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateZ(0);
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.7), -1px 2px 1px #a0a0a0, -2px 4px 2px #a0a0a0, -3px 6px 3px rgba(160, 160, 160, 0.6), -4px 8px 4px rgba(160, 160, 160, 0.5);
}

.contact {
  padding: 150px 30px;
  background-color: #383634;
}

.contacts-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}

.contact-icon {
  display: table-cell;
  width: 120px;
  height: 120px;
  margin: 30px;
  border: 4px;
  border-radius: 50%;
  color: #777;
  font-size: 5.5rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 18px;
  box-shadow: 10px 10px 10px #c9c9c9, -10px -10px 10px #fff, inset 10px 10px 10px transparent, inset -10px -10px 10px transparent;
}

.contact-icon:focus, .contact-icon:hover {
  box-shadow: 10px 10px 10px transparent, -10px -10px 10px transparent, inset 10px 10px 10px #c9c9c9, inset -10px -10px 10px #fff;
}

.bl_card {
  border-radius: 5px;
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  margin: 20px 10px 10px 10px;
}

.bl_card_imgWrapper > img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.bl_card_body {
  padding: 15px;
  margin-left: 10px;
}

.bl_card_body > *:last-child {
  margin-bottom: 0;
}

.bl_card_ttl {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.125rem;
}

.bl_card_txt {
  color: #222;
}

.bl_cardUnit {
  display: flex;
  flex-wrap: wrap;
}

.bl_cardUnit.bl_cardUnit__col3 {
  margin-bottom: -30px;
}

.bl_cardUnit.bl_cardUnit__col3 > .bl_card {
  width: 30.895%;
  margin-right: 2.43902%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .bl_cardUnit.bl_cardUnit__col3 > .bl_card {
    width: 100%;
  }
}

.bl_cardUnit > .bl_card:nth-of-type(3n) {
  margin-right: 0;
}

@media (max-width: 768px) {
  .bl_cardUnit {
    display: block;
  }
}

.bl_media {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px;
}

.bl_media_imgWrapper {
  flex: 0 1 27.58333%;
  margin-right: 3.33333%;
}

.bl_media_imgWrapper > img {
  width: 100%;
}

.bl_media_body {
  flex: 1;
}

.bl_media_body > *:last-child {
  margin-bottom: 0;
}

.bl_media_ttl {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .bl_media {
    display: block;
  }
  .bl_media_imgWrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.bl_media.bl_media__rev {
  flex-direction: row-reverse;
}

.bl_media__rev .bl_media_body {
  margin-right: 3.33333%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .bl_media__rev .bl_media_body {
    margin-right: 0;
  }
}
